CONF_VERSION = "1"

MACHINE ?= "qemux86-64"
# TODO: this probably doesn't belong here, need it for iwlwifi:
MACHINE_ESSENTIAL_EXTRA_RRECOMMENDS += "kernel-modules"
DISTRO ?= "manaos"
EXTRA_IMAGE_FEATURES ?= "debug-tweaks ssh-server-dropbear"
# TODO: move these to a package group
CORE_IMAGE_EXTRA_INSTALL += " python3 python3-pip python screen curl vim-tiny iproute2 iptables htop iperf3 curl sqlite3 sudo usbutils gnupg iw haveged nmap hostapd mtr tcpdump bridge-utils e2fsprogs uwsgi minimodem magicmodem-init magicmodem dnsmasq lcdproc linux-firmware-iwlwifi-7260"
USER_CLASSES ?= "buildstats image-mklibs image-prelink"
PATCHRESOLVE = "noop"
PACKAGECONFIG_append_pn-qemu-native = " sdl"
PACKAGECONFIG_append_pn-nativesdk-qemu = " sdl"

# recipe overrides
hostname_pn-base-files = "magicmodem"

# Keep the poky disk space monitoring limits
BB_DISKMON_DIRS ??= "\
    STOPTASKS,${TMPDIR},1G,100K \
    STOPTASKS,${DL_DIR},1G,100K \
    STOPTASKS,${SSTATE_DIR},1G,100K \
    STOPTASKS,/tmp,100M,100K \
    ABORT,${TMPDIR},100M,1K \
    ABORT,${DL_DIR},100M,1K \
    ABORT,${SSTATE_DIR},100M,1K \
    ABORT,/tmp,10M,1K"

INHERIT += "buildhistory"
BUILDHISTORY_COMMIT = "1"
#IMAGE_INSTALL_append = " "

# add an extra 10MB to the image
IMAGE_ROOTFS_EXTRA_SPACE = "10240"
