body {background-color:#000000; color:#FFFFFF; font-family: Arial;}
h1 {font-size: 48px; font-weight: bold;}
.searchbox {
    background-color:#282828;
    color:#FFFFFF;
    font-family: Arial;
    font-size: 48px;
    font-weight: bold;
    border:#000000;
    outline: none;
    margin:0px;
    padding:0px;
    caret-color:#1db954;
    text-transform:none;
    width:100%;
}

div.sidespacer {
    background-color:#000000;
    padding:0;
    padding-top:1em;
    margin:0;
    margin-top:10px;
    margin-bottom:10px;
    height:10px;
}

.searchresults a {
    color:#FFFFFF;
}

button.shapebtn {
    background-color: #000000;
    color: #FFFFFF;
    padding:0;
    margin:0;
    height:32px;
    width:32px;
    font-size: 20px;
    border:0px;
    vertical-align:middle;
}

